extend ../layout.pug

block head
  title 登录

block content
  if message
    div=message
  form(action="/login", method="post")
    div
      input(type="text", name="username", placeholder="请输入用户名")
    div
      input(type="password", name="password", placeholder="请输入密码")
    div
      input(type="submit", value="提交")